.schedule-container {
    
    text-align: center;
    /* background-color: rgb(32, 126, 155);
     */
}

.instructors-container {
background-color: rgb(32, 126, 155);
}

 .card {
     max-width: 610px;
     max-height: 800px;
 }
 .card-deck {
   padding-left: 25px;
   padding-right: 25px;
    
 }

 .pools-container {
    width: 100%;
    margin-left: 475px;
    

}

.carousel-item {
    max-width: 100% !important;
    max-height: 20% !important;
}

